footer {
    background: black;
    color: white;
    margin-top: 4rem;
}

footer .container {
    gap: 40px;
    position: relative;
}

footer .container .item:nth-of-type(1) {
    width: 40%;
}

footer .container .item {
    width: 15%;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer h3 {
    margin-top: 4%;
}

footer h4 {
    margin-top: 6%;
    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
    text-underline-position: under;
}

footer img {
    width: 80%;
}

footer p,
footer li {
    text-wrap: nowrap;
    font-size: 14px;
}

footer i {
    font-size: 16px;
}

footer li {
    cursor: pointer;
}

footer .container:nth-of-type(2) {
    padding: 20px 0;
}

footer .container:nth-of-type(2) p:nth-of-type(2) {
    position: absolute;
    right: 0;
}

.newsletter {
    background-color: white;
    display: flex;
    color: var(--black);
}

.newsletter input {
    width: 80%;
    border: none;
    outline: none;
    background-color: inherit;
    padding-left: 5px;
}

.newsletter button {
    all: unset;
    width: 20%;
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
}