#slider {
    width: 90%;
    height: 200px;
    margin: auto;
}

#slider img {
    width: 100%;
    height: 100%;
}

.pageContent .sub-content .tabs {
    width: 100%;
    background: var(--primary-color);
    color: white;
    gap: 40px;
    margin-top: 6rem;
}

.pageContent .sub-content .tabs:nth-of-type(1) {
    margin-top: 0;
}

.pageContent .sub-content .tabs .option {
    background: var(--primary-color);
    padding: 7.5px;
    cursor: pointer;
}

.pageContent .sub-content .tabs .option:hover {
    filter: brightness(0.6);
}

.pageContent .sub-content .budget-vehicle {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 0;
    position: relative;
}

.pageContent .sub-content .budget-vehicle .item {
    width: 22.5%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.pageContent .sub-content .budget-vehicle .item>a {
    display: grid;
    height: 100%;
    flex-direction: column;
}

.pageContent .sub-content .budget-vehicle .item img {
    width: 100%;
}

.pageContent .sub-content .budget-vehicle .item h4 {
    font-weight: 500;
    color: var(--primary-color);
    margin-top: 5px;
}

.pageContent .sub-content .budget-vehicle>a>button {
    position: absolute;
    padding: 1% 5%;
    right: 0;
    bottom: -50px;
    border: none;
    outline: none;
    background: var(--secondary-color);
    color: white;
}