.sub-content .stage {
    gap: 10px;
}

.sub-content .stage .item {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.sub-content .stage .item:nth-child(1) {
    width: 50%;
    flex-direction: row;
    margin: 0;
}

.sub-content .stage .item:nth-child(2) {
    gap: 0;
}

.sub-content .stage .item img:nth-of-type(1) {
    width: 100%;
    border: 1px solid var(--black);
    margin: 0;
}

.sub-content .stage .item img {
    width: 23.4%;
}

.sub-content .stage .item .tabs {
    width: 100%;
    display: flex;
    position: relative;
}

.sub-content .stage .item .tabs button {
    width: 40%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    border: none;
    outline: none;
    padding: 2% 5%;
    gap: 5px;
    cursor: pointer;
    border: 1px solid black;
    border-bottom: none;
}

.sub-content .stage .item .tabs button i {
    font-size: 18px;
}

.sub-content .stage .item .vehicle-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub-content .stage .item .vehicle-details .table {
    width: 100%;
    border: 1px solid grey;
    border-bottom: 0;
    font-size: 13px;
}

.sub-content .stage .item .vehicle-details .table .col {
    border-bottom: 1px solid grey;
}

.sub-content .stage .item .vehicle-details .table .col .row {
    width: 60%;
    padding: 5px 5%;
}

.sub-content .stage .item .vehicle-details .table .col .row:nth-of-type(1) {
    width: 40%;
    background: #F5F5F5;
}

.sub-content .stage .item .extras {
    width: 100%;
    border: 1px solid grey;
    font-size: 13px;
}

.sub-content .stage .item .extras h4 {
    width: 100%;
    padding: 5px;
    background: #F5F5F5;
    border-bottom: 1px solid grey;
}

.sub-content .stage .item .extras p {
    width: 100%;
    padding: 5px;
}

.sub-content .stage .item .extras p {
    width: 100%;
    padding: 5px;
}

.sub-content .stage .item .extras ul {
    margin-left: 20px;
}

.sub-content .stage .item .extras ul li {
    list-style: circle;
}

.sub-content .stage .item .others {
    width: 100%;
    font-size: 13px;
    border: 1px solid grey;
}

.sub-content .stage .item .others h4 {
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid grey;
}

.sub-content .stage .item .others p {
    width: 100%;
    padding: 5px;
}

.sub-content .stage .item .stage {
    width: 100%;
    gap: 10px;
    display: flex;
}

.sub-content .stage .item .stage .action {
    width: 50%;
}

.sub-content .stage .item .stage .destination {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid grey;
    padding-bottom: 15px;
}

.sub-content .stage .item .stage .destination:nth-of-type(2) {
    margin-top: 20px;
}

.sub-content .stage .item .stage .destination h3 {
    width: 100%;
    font-weight: 400;
    padding: 3% 2%;
    background: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
}

.sub-content .stage .item .stage .destination p {
    font-size: 14px;
    width: 95%;
    margin: auto;
}

.sub-content .stage .item .stage .destination input,
.sub-content .stage .item .stage .destination select,
.sub-content .stage .item .stage .destination textarea {
    width: 95%;
    padding: 2% 2%;
    margin: auto;
    border: 1px solid grey;
    outline: none;
    font-size: 14px;
}

.sub-content .stage .item .stage .destination:nth-of-type(3) {
    border-top: none;
}

.sub-content .stage .item .stage .destination button {
    width: 95%;
    margin: auto;
    margin-top: 5%;
    padding: 2% 0;
    outline: none;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: 0.2s ease all;
}

.sub-content .stage .item .stage .destination button:hover {
    filter: brightness(0.8);
}

.customer-testimonials {
    margin: 50px 0;
}

.customer-testimonials h3 {
    font-size: 24px;
    font-weight: 400;
}

.customer-testimonials .stage {
    gap: 10px;
}

.customer-testimonials .item {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.customer-testimonials .item img {
    width: 100%;
    height: 200px;
}

.customer-testimonials .item p {
    height: 50px;
    overflow: scroll;
    overflow-x: hidden;
}

.customer-testimonials .item span {
    color: var(--primary-color);
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    width: 100%;
    height: 420px;
}

.mySwiper2 .swiper-slide {
    user-select: none;
}

.mySwiper2 .swiper-slide img {
    width: 100%;
}

.mySwiper1 {
    overflow: initial !important;
    height: fit-content;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper1 .swiper-slide {
    width: 22% !important;
    height: 100%;
    opacity: 0.4;
    user-select: none;
}

.mySwiper1 .swiper-wrapper {
    overflow: initial;
    flex-wrap: wrap;
    gap: 10px;
}

.mySwiper1 .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: fill;
}

.swiper-btn::after {
    color: white;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 100;
}

.modal .container {
    width: auto;
    position: relative;
}

.modal .close {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--black);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.modal .stage {
    width: 50%;
    height: 80%;
    background-color: white;
}